body {
  padding: 0;
}

img {
  width: 100%;
}

.carousel-img-container {
  max-height: 400px;
  overflow: hidden;
}

@media (max-width: 1250px) {
  .carousel-img {
    bottom: 100px;
  }
}

@media (min-width: 1251px) {
  .carousel-img {
    position: relative;
    bottom: 300px;
  }
}
